.vox{
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-image: url(../img/whatsapp-chat-doodle-patterns-jyd5uvep2fdwjl97.jpg) ;

}

.button_close{
    -fx-text-fill: #ffff;
    -fx-cursor: hand;
}

.button_close:hover{
    -fx-background-color: #FF1028;
    -fx-text-fill: #ffff;
}

.button_minimize{
    -fx-text-fill: #ffff;
    -fx-cursor: hand;
}

.button_minimize:hover{
    -fx-background-color: #477FBA;
    -fx-text-fill: #ffff;
}

